@import "../utils/theme";

.chartStyles {
  max-width: 1200px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  justify-content: center;

  .chart {
    background-color: $black;
    max-width: 500px;
    padding: 2em;
    border-radius: 0.25em;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);

    header {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 1.5em;
      }
    }
    p {
      color: $darkGrey;
    }
  }
}
