.limit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;

  .num {
    color: #a8c6e4;
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  p {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0;
    color: #a8c6e4;
  }
}
