$purple: #743ad5;
$offBlue: #c8e1ff;
$offWhite: #f6f8fa;
$black: #27292d;
$lightGrey: #586069;
$darkGrey: #383a40;
$white: #ffffff;
$svgColor: #d53a9d;

$inter: "Inter", -apple-system, sans-serif;
$mono: "SF Mono", Fira Code, Fira Mono, sans-serif;

$transition: all 0.2s ease-in-out;
