$blue: #743ad5;
$offBlue: #c8e1ff;
$offWhite: #f6f8fa;
$grey2: #586069;
$black: #27292d;
$darkGrey: #383a40;
$white: #ffffff;

$inter: "Inter", -apple-system, sans-serif;
$mono: "SF Mono", Fira Code, Fira Mono;

$transition: all 0.2s ease-in-out;
