@import "../utils/theme";

.section {
  padding: 3rem 5rem;

  //   ${media.bp900`
  //     padding: 2rem;
  //   `};
  //   ${media.bp400`
  //     padding: 1rem;
  //   `};

  background-color: $black;
  color: $offBlue;
  //   ${media.bp900`
  //     padding-top: 2rem;
  //     padding-bottom: 10rem;
  //   `};

  & > div {
    max-width: 1400px;
    margin: 0 auto;
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      display: inline-block;
      margin: 0;
      font-size: 1.75rem;
      background-image: linear-gradient(
        90deg,
        #d1d5da 50%,
        hsla(0, 0%, 100%, 0) 0
      );
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 10px 2px;
      padding-bottom: 6px;
      //   ${media.bp600`
      //     font-size: 1.5rem;
      //   `};
    }
  }

  .repo__container {
    .dropdown__wrapper {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: $darkGrey;

      .label {
        color: #fff;
        margin: 0 1rem;
      }
    }
    .repo__list {
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;

        li {
          .repo {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 2rem;
            height: 100%;
            color: $white;
            background-color: #383a40;
            border-radius: 0.5rem;
            box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
            transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
            //   ${media.bp600`
            //     padding: 1.5rem;
            //   `};

            &:hover,
            &:focus {
              transform: scale(0.95);
              background-color: #494d53;
              box-shadow: 0 8px 20px -15px rgba(0, 0, 0, 0.2);
            }

            h3 {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color: $offWhite;
              margin-bottom: 0.75rem;
              font-size: 20px;
              font-family: $mono;
              font-weight: 700;
              letter-spacing: -0.5px;
            }

            p {
              font-size: 14px;
              margin-bottom: 2rem;
            }

            &__header {
              margin-bottom: 2rem;
            }

            &__name {
              display: flex;
              align-items: center;
              svg {
                margin-right: 0.5rem;
                min-width: 16px;
              }
              h3 {
                margin: 0;
              }
            }

            &__stats {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 13px;
              color: #ffffffd4;

              &__left {
                flex-grow: 1;
                display: flex;

                span {
                  display: flex;
                  align-items: center;
                  margin-right: 0.75rem;
                  svg {
                    margin-right: 0.25rem;
                  }
                  .language {
                    border-radius: 100%;
                    width: 10px;
                    height: 10px;
                    background-color: $blue;
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .dropdown {
      position: relative;
      width: 100px;
      font-size: 14px;
      font-weight: 500;

      .dropdown__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        text-align: left;
        color: $white;
        background-color: transparent;
        padding: 10px 7px;
        border-radius: 5px;

        &:hover,
        &:focus {
          background: $darkGrey;
        }
        svg {
          margin-left: 0.5rem;
        }
        label {
          transition: $transition;
          cursor: pointer;
        }
      }
      .dropdown__list {
        position: absolute;
        overflow: hidden;
        width: 100%;
        z-index: 2;
        padding: 3px;
        transition: $transition;
        box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
      }
      .dropdown__list__item {
        transition: $transition;
        &:hover,
        &:focus {
          background-color: #c8e1ff96;
        }

        button {
          color: $white;
          background: #494d53;
          padding: 10px 7px;
          width: 100%;
          font-size: 14px;
          border-bottom: 1px solid $grey2;
          font-weight: 500;
          line-height: 1;
          text-align: left;

          &:hover,
          &:focus {
            background: $darkGrey;
          }
        }
      }

      .dropdown__list {
        opacity: 1;
        visibility: visible;
      }
      .dropdown__button {
        background: #494d53;
        svg {
          transform: rotate(0.5turn);
        }
      }
    }
  }

  @media screen and (max-width: 578px) {
    padding: 3rem 2rem;
  }
}
